#indexbody{
  background-image: url("pictures/ArizonaRoad.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}

.topheader {
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
  font-size: 70px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

#centered{
  text-align: center;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boxes{
  display: inline-block;
  vertical-align: text-top;
  width: 20%;
  border-style: solid;
  padding: 20px;
  height: 300px;
  margin: 10px;
  background-color: #ffffff;
  opacity: 0.6;
}

#links{
  vertical-align: text-top;
  border-style: dotted;
  width: 40%;
  padding: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  opacity: 0.6;
}

#ostrichpic{
  border: dotted;
  height: 300px;
  text-align: right;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 10%;
  padding: 20px;
}

#list{
  height: 300px;
  width: 30%;
  text-align: left;
  display: inline-block;
  vertical-align: text-top;
  margin-left: 20%;
  padding: 20px;
  font-size: 25px;
}

#home{
  vertical-align: text-top;
  border-style: dotted;
  width: 40%;
  padding: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#aboutbody{
  background-color: #b3d9ff;
}

a:link{
  color: black;
}

a:visited{
  color: #666699;
}

@media screen and (max-width: 500px) {
  .topheader{
    font-size: 10px;
  }
  .boxes{
    font-size: 10px;
  }
  #links{
    font-size: 10px;
  }
  #list{
    font-size: 12px;
  }
}