%div.navbar-fixed
  %nav
    %ul
      %li bio
      %li web dev projects
      %li civic tech projects
      / blog looks different, is called bugle call
      %li blog
      %li cycling stories
%h1.center Melanie Mazanec