%div.navbar-fixed
  %nav
    %div.nav-wrapper
      %div.brand-logo Melanie Mazanec
      %ul.right.hide-on-med-and-down
        %li
          %a{href: "google.com"} bio
        %li
          %a{href: "google.com"} web dev projects
        %li
          %a{href: "google.com"} civic tech projects
        %li
          %a{href: "google.com"} blog
        %li
          %a{href: "google.com"} cycling stories

%p.center This is where my bio would go if I had written one.