html, body {
    height: 100vh;
    width: 100vw;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0;
    overflow: scroll;
    padding: 0;
}

a {
    text-decoration: none;
}

#container {
    height: 98vh;
    overflow-y: scroll;
    position: relative;
}

.header-footer {
    font-family: Verdana, Geneva, sans-serif;
    opacity: 0.7;
    z-index: 1;
    width: 100vw;
}

#navcontainer {
    position: absolute;
    right: 3vw;
    text-align: right;
    font-size: 0.9rem;
    cursor: pointer;
    letter-spacing: .2rem;
    font-weight: lighter;
    top: 0.75rem;
    color: #00ccc5;
    display: inline-block;
    height: 1.5rem;
}

.link {
    position: absolute;
}

.bio.link {
    right: 10.5vw;
}

.cv.link {
    right: 1.5vw;
}

#hexbin-div {
    height: 60vh;
    position: absolute;
    z-index: 0;
}

#hexbin-div svg {
    background-color: #f7f7f4;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    opacity: 0.8;
}

#info {
    position: absolute;
    height: 60vh;
    left: 15vw;
    top: 10vh;
    margin: 0 auto;
    width: 70vw;
    color: #330000;
    letter-spacing: 2px;
    font-size: 1.15rem;
    line-height: 1.65rem;
}

#info .bio {
    position: absolute;
    width: 100%;
    opacity: 1;
}

.bio h1 {
    font-family: Verdana, Geneva, sans-serif;
    color: #00ccc5;
    font-weight: bold;
    letter-spacing: 1rem;
    text-align: center;
    position: relative;
    font-size: 3.25rem;
    line-height: 3.25rem;
}

#timeline{
    position: absolute;
    left: 0;
    top: 30vh;
    height: 60vh;
    width: 100vw;
}

#footer {
    background-color: #00ccc5;
    z-index: 2;
}

#footer-table {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#footer a {
    color: #f7f7f4;
    letter-spacing: 0.15rem;
    font-size: 0.7rem;
    font-weight: lighter;
}

#footer a:hover, .link:hover {
    color: #520177;
}

.tooltip {
    max-width: 15vw;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .bio h1 {
        font-size: 3rem;
        letter-spacing: 0.2rem;
        padding-bottom: 0rem;
        line-height: 1.75rem;
        position: relative;
        top: -0.5rem;
    }

}

@media only screen and (max-width: 650px) {
    html, body {
        font-size: 0.8rem;
    }
    #navcontainer {
        position: absolute;
        right: 3vw;
        text-align: right;
        font-size: 0.8rem;
        cursor: pointer;
        letter-spacing: .1rem;
        font-weight: lighter;
        top: 0.5rem;
    }
    #info {
        line-height: 1.15rem;
        font-size: 0.95rem;
        position: absolute;
        top: 4vh;
        height: 80vh;
        left: 8vw;
        padding: 0%;
        margin: 1vw;
        width: 80vw;
    }
    .bio h1 {
        font-size: 2rem;
        letter-spacing: 0.2rem;
        padding-bottom: 0rem;
        line-height: 1.75rem;
        position: relative;
    }
    .bio.link {
        top: -0.85rem;
        right: 3rem;
    }

    .cv.link {
        top: -0.85rem;
        right: 0.15rem;
    }
}

@media only screen and (min-width: 2000px) {
    html, body {
        font-size: 32px;
    }
}
