html, body {
    height: 100vh;
    width: 100vw;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1rem;
    margin: 0;
    overflow: scroll;
    padding: 0;
}

a {
    text-decoration: none;
}

#container {
    height: 97vh;
    overflow-y: scroll;
    position: relative;
}

.header-footer {
    font-family: Aclonica;
    background-color: #00ccc5;
    color: #f7f7f4;
    opacity: 0.7;
    z-index: 1;
}

#header {
    display: inline-block;
    height: 6rem;
    width: 100vw;
}

#header h1 {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 0.1vh;
    margin-left: 5vw;
    text-align: left;
    width: 60vw;
}

#navcontainer {
    display: inline-block;
    right: 3vw;
    text-align: right;
    width: 20vw;
}

#nav {
    font-size: 1rem;
    cursor: pointer;
    font-weight: lighter;
    letter-spacing: .1rem;
    list-style-type: none;
}

#nav li{
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
}

#hexbin-div {
    height: 60vh;
    position: absolute;
    z-index: -1;
}

#hexbin-div svg {
    background-color: #f7f7f4;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

#info {
    position: absolute;
    height: 60vh;
    left: 2rem;
    padding: 1rem;
    margin: 0 auto;
    width: 85vw;
    color: #303030;
    letter-spacing: 2px;
}

#info .bio {
    position: absolute;
    width: 100%;
    opacity: 1;
}

#timeline{
    position: absolute;
    left: 0;
    top: 30vh;
    height: 60vh;
    width: 100vw;
}

#footer-table {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#footer a {
    color: #f7f7f4;
    letter-spacing: 1.5px;
}

#footer a:hover, .link:hover {
    color: #520177;
}

.tooltip {
    max-width: 15vw;
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    #header {
        display: inline-block;
        height: 6rem;
        width: 100vw;
    }
    #header h1 {
        font-size: 2rem;
        width: 40vw;
    }
}

@media only screen and (max-width: 650px) {
    body {
        font-size: 0.8rem;
    }
    #header {
        display: inline-block;
        height: 6.5rem;
        width: 100vw;
    }
    #header h1 {
        font-size: 1.5rem;
        width: 40vw;
    }
    #info {
        position: absolute;
        top: 6.25rem;
        height: 80vh;
        left: 1rem;
        padding: 0%;
        margin: 1rem;
        width: 85vw;
    }
    div.headshot {
        display: none;
    }
}

@media only screen and (min-width: 2000px) {
    html, body {
        font-size: 1.5rem;
    }
}
