html, body {
    background-color: #f7f7f4;
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.25vw;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

a {
    text-decoration: none;
}

#container {
    height: 100%;
    overflow-y: scroll;
    position: relative;
}

.header-footer {
    background-color: #0a8282;
    color: #f7f7f4;
    opacity: 0.5;
}

#header {
    display: inline-block;
    min-height: 10vh;
    width: 100%;
}

#header h1 {
    display: inline-block;
    font-size: 5vw;
    letter-spacing: 0.5vw;
    margin-left: 5%;
    text-align: left;
    width: 60%;
}

#navcontainer {
    display: inline-block;
    margin-right: 5%;
    text-align: right;
    width: 25%;
}

#nav {
    cursor: pointer;
    font-weight: lighter;
    letter-spacing: 2px;
    list-style-type: none;
}

#nav li{
    display: inline-block;
    padding-left: 1vw;
    padding-right: 1vw;
}

#hexbin-div {
    height: 50%;
    position: absolute;
    z-index: 0;
}

svg {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}

div.headshot {
    position: absolute;
    right: 5%;
    top: 40%;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #0a8282;
}

img.headshot {
    width: 100%;
    height: auto;
    filter: grayscale(60%);
}

#info-background {
    background-color: #f7f7f4;
    position: absolute;
    opacity: 0.8;
    left: 5%;
    padding: 2%;
    margin: 0 auto;
    width: 62%;
    height: 65%;
}

#info {
    position: absolute;
    height: 65%;
    left: 5%;
    padding: 2%;
    margin: 0 auto;
    width: 60%;
}

#info .bio, #info .cv {
    position: absolute;
    width: 100%;
    opacity: 1;
}

#info, #info td, #info a {
    color: #303030;
    letter-spacing: 2px;
}

.edu-table {
    font-size: 1rem;
    text-align: bottom;
}

.edu-table td {
    width: 50%;
}

.edu-table-td-1 {
    padding-right: 2%;
}

.exp table tr td {
    padding: 1vh;
    border-radius: 60px;
}

#footer {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
}

#footer-table {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#footer a {
    color: #f7f7f4;
    letter-spacing: 1.5px;
}

#footer a:hover, .link:hover {
    color: #520177;
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 3vw;
    }
    #info-background {
        background-color: #f7f7f4;
        position: absolute;
        opacity: 0.8;
        left: 0%;
        top: 30%;
        padding: 0%;
        margin: 7.5vw;
        width: 85vw;
        height: 120vh;
    }
    #info {
        position: absolute;
        top: 30%;
        height: 100vh;
        left: 0%;
        padding: 0%;
        margin: 10vw;
        width: 80vw;
    }
    div.headshot {
        position: absolute;
        left: 40vw;
        top: 17vh;
        width: 20vw;
        height: 20vw;
        overflow: hidden;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid #0a8282;
    }
}
