%div.navbar-fixed
  %nav
    %div.nav-wrapper
      %div.brand-logo.home-link
        %a{href: bio_path} Melanie Mazanec
      %ul.right.hide-on-med-and-down
        %li
          %a{href: dev_projects_path} web dev projects
        %li
          %a{href: civic_projects_path} civic tech projects
        %li
          %a{href: blog_path} blog
        %li
          %a{href: stories_path} cycling stories